.details h2 {
  font-size: 3.5rem;
  margin-top: 80px;
}

.details h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 40px;
}

.featured {
  margin-bottom: 40px;
}

.details {
  margin-top: 40px;
}
